<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Fix storage path mismatch
    # From: /storage/app/public/business/file.png
    # To: /public/storage/business/file.png (which is a symlink to storage/app/public/business/file.png)
    RewriteRule ^storage/app/public/(.*)$ public/storage/$1 [L]

    # If the file exists in the root, serve it
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Hide a specific file
<Files .env>
    Order allow,deny
    Deny from all
</Files>
